body{
	height:100%;
	background-image: url("background.jpg");
	font-family: 'Delius Unicase', cursive;
	font-size: 15px;
	text-align: justify;
}

#contactpage{
	padding-bottom: 0px;
}

#portfoliopage{
	padding-bottom: 0px;
}

a.navbar-brand{
	font-family: 'Delius Unicase', cursive;
	font-size: 2.2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

a{
	color:black;
}

.form-group{
	padding-top:75px;
}

.navbar.navbar-default{
	padding-bottom: 0px;
	padding-top: 0px;
	background: #fff;
	border-radius: 0;
}

.navbar.navbar-default a:hover{
	color:white;
    background-color: #E0E0E0;
     border-radius: 0px;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 2s;
    animation-name: example;
    animation-duration: 2s;
}

@-webkit-keyframes example {
    from {background-color: black;}
    to {background-color: #E0E0E0;}
}

@keyframes example {
    from {background-color: black;}
    to {background-color: #E0E0E0;}
}

.images p{
	text-align: center;
}

.images img:hover{
	-webkit-filter: blur(5px);
    filter: blur(5px);
}

img.github{
	width:60px;
	margin:20px 20px 20px 40px;
}

img.stackoverflow{
	width:60px;
	margin:20px;
}

img.linkedin{
	width:60px;
	margin:20px;
}

div.well{
	width:390px;
	clear:both;
	border:2px solid #636C72;
	opacity: 0.8;
}

.thumbnail1{
	position:relative;
}

img.thumbnail1{
	margin-left: 65px;
}

footer{
	position: relative;
	background: #F5F5F5;
	padding-top:75px;
	text-align: center;
	margin-bottom:0px;
}

.nav {
    padding-left: 100px;
    margin-bottom: 0;
    list-style: none;
}